<!doctype html>
<html lang="en" data-framework="backbonejs">
	<head>
		<meta charset="utf-8">
		<title>YTFaves</title>
		<link rel="stylesheet" href="app/css/index.css">
	</head>
	<body>
		<section id="ytfaves">
			<header id="header">
				<h1>docai</h1>
				<h2>your documentary buffet</h2>
				<input id="new-vid" placeholder="Submit a YouTube video link" autofocus>
			</header>
			<nav></nav>
			<section id="main">
				<ul id="vid-list"></ul>
			</section>
		</section>
		<footer id="info">
			<p>See a broken link? Double-click to edit the Video Source</p>
		</footer>
		<div class="errorContainer"></div>
		<script type="text/template" id="item-template">
			<div class="view">
				<label><%- title %></label>
				<div class="thumbnail-container" style="background-image: url(<%- thumbnail %>)">
					<div class="play-button"></div>
				</div>
				<div class="likeHolder">
					<div class="like"><%= likes %></div>
					<button class="heart <%= likes ? 'liked' : '' %> " val="<%= likes %>"></button>
				</div>
			</div>
			<!-- <input class="edit" value="<%- url %>"> -->
		</script>
		<script type="text/template" id="stats-template">
			<ul id="filters">
				<li>
					<a class="selected" href="#/">Recent</a>
				</li>
				<li>
					<a href="#/liked">Most liked</a>
				</li>
				<!-- <li>
					<a href="#">Watched</a>
				</li> TODO -->
			</ul>
		</script>
		<script type="text/template" id="overlay-template">
			<div id="overlay"><%= video %></div>
		</script>
		<script type="text/template" id="error-template">
			<div class="error"><%= error %></div>
		</script>
		<script type="text/template" id="success-template">
			<div class="success"><%= message %></div>
		</script>

		<script src="app/js/lib/jquery.js"></script>
		<script src="app/js/lib/underscore.js"></script>
		<script src="app/js/lib/backbone.js"></script>
		<script src="app/js/lib/firebase.js"></script>
		<script src="app/js/lib/backbonefire.js"></script>
		<script src="app/js/app/models/video.js"></script>
		<script src="app/js/app/collections/videos.js"></script>
		<script src="app/js/app/collections/pendingVideos.js"></script>
		<script src="app/js/app/views/video-view.js"></script>
		<script src="app/js/app/views/app-view.js"></script>
		<script src="app/js/app/routers/router.js"></script>
		<script src="app/js/app/app.js"></script>
	</body>
</html>
